<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error-anim.css">
</head>
<body>
<header class="main-header">
    <div class="header-content">
        <a href="/people/all" class="logo">Spring Web App</a>
    </div>
</header>
<div id="error-fade-bg"></div>
<div class="error-anim-img-container">
    <img id="error-anim-img" src="/img/Без%20названия.png" alt="Error image"/>
</div>
<div class="error-anim-img-container-left">
    <img id="error-anim-img-left" src="/img/Без%20названия1.png" alt="Error image left"/>
</div>
<div class="error-container error-center-message">
    <div style="font-size: 7rem; font-weight: 1200; letter-spacing: 0.1em; color: #fff; line-height: 1; margin-bottom: 16px;">
        404
    </div>
    <h1>Произошла ошибка</h1>
    <p th:text="${error}"></p>
    <a href="/people/all">Вернуться на главную</a>
</div>
<script src="/js/error-anim.js"></script>
</body>
</html>
