<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить пользователя</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="main-header">
    <div class="header-content">
        <a href="/people/all" class="logo">Spring Web App</a>
    </div>
</header>
<div class="container">
    <h1>Добавить пользователя</h1>
    <form th:action="@{/people/new}" th:object="${people}" method="post">
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Имя Фамилия" required>
            <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div>
            <label for="age">Возраст:</label>
            <input type="number" id="age" th:field="*{age}" placeholder="от 1 до 110" min="1" max="110" required>
            <div class="error-message" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" placeholder="youremail@mail.com" required>
            <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <label for="address">Адрес:</label>
            <input type="text" id="address" th:field="*{address}" placeholder="Ваш город, улица, дом" required>
            <div class="error-message" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
        </div>
        <button type="submit">Добавить</button>
    </form>
    <a href="/people/all">Назад к списку</a>
</div>

</body>
</html>
