<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="main-header">
    <div class="header-content">
        <a href="/people/all" class="logo">Spring Web App</a>
    </div>
</header>
<div class="container">
    <h1>Список пользователей</h1>
    <a href="/people/new" class="add-user-btn main-accent-btn">Добавить пользователя</a>
    <a href="/books/list" class="add-user-btn" style="margin-left:12px;">Список книг</a>
    <div class="users-list grid-list">
        <ul>
            <li th:each="person : ${allUsers}">
                <a th:href="@{/people/{id}(id=${person.getPeople_id()})}" th:text="${person.getName()}"></a>
            </li>
        </ul>
    </div>
</div>
<script src="/js/index.js"></script>
</body>
</html>
