<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<canvas id="matrix"></canvas>
<div class="container">
    <h1>Информация о пользователе</h1>
    <p th:text="${people.getName()}"></p>
    <p th:text="${people.getEmail()}"></p>
    <p th:text="${people.getAddress()}"></p>
    <a th:href="@{/people/remove/{id}(id=${people.getId()})}">Удалить</a>
    <a href="/people/all">Все пользователи</a>
</div>
<script src="/js/index.js"></script>
</body>
</html>
